body {
	background-position: center;          
	background-attachment: fixed; 
    background-color: #c4c3ca;   
}


#divmain {
    width: 397px;
    height: auto;
    max-height: 420px;
    min-height: 420px;
    min-width: 397px;
    position: absolute;
    background-color: white;
    right: 0;
    left: 0;
    margin: auto;
    border-radius: 25px;
    
}

#btnleft{
    border-right: none;
    margin-left: -1px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 0px;
}

#btnright{
    border-top-right-radius: 25px;
    border-bottom-right-radius: 0px;
    margin-left: -2px;
    border-left: none;
}

.btn-group button{
    width: 200px;
    font-size: 12px;
    height: 58px;
    right: 0;
    left: 0;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 12px;
    
}

.btn-group{
    border-bottom: 4px solid #5029EE;
}

.info1{
    padding-left: 5%;
}

.info2{
    padding-left: 5%;
}


.info{
    font-size: 14px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.inpf{
    width: 85px;
    height: 40px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    border: 1px solid #5029EE;
    padding-left: 15px;
    color :#5029EE;
}

.inpf:active, :focus {
    outline: 0;
    
    border: 1px solid #5029EE;
    border-bottom-right-radius: none;
    border-top-right-radius: none;
}

.l{
    font-size: 14px;
    padding-left: 38px;
    padding-top: 6%;
    padding-bottom: 5.4%;
    padding-right: 38px;
    background-color: #5029EE;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    color: white;
    
}

.km{
    font-size: 14px;
    padding-left: 33.4px;
    padding-top: 6%;
    padding-bottom: 5.4%;
    padding-right: 33.4px;
    background-color: #5029EE;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    color: white;
    
}

.grnl{
    font-size: 14px;
    padding-left: 24.8px;
    padding-top: 6%;
    padding-bottom: 5.4%;
    padding-right: 24.8px;
    background-color: #5029EE;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    color: white;
}

.text1{
    color: #5029EE;
    font-size: 14px;
    padding-left: 60px;
}

.text2{
    color: #5029EE;
    font-size: 14px;
    padding-left: 56px;
}

.text3{
    color: #5029EE;
    font-size: 14px;
    padding-left: 78px;
}

.cleanBtn{
    width: 173px;
    height: 40px;
    border: 2px solid #5029EE;
    color: #5029EE;
    background-color: white;
    border-radius: 16px;
    margin-left: 16px;
}

.cleanBtn:hover{
    width: 173px;
    height: 40px;
    border: 2px solid #5029EE;
    color: white;
    background-color: #5029EE;
    border-radius: 16px;
    margin-left: 16px;
}

.logicBtn{
    width: 172px;
    height: 40px;
    border: 2px solid #5029EE;
    color: #5029EE;
    background-color: white;
    border-radius: 16px;
    margin-right: 20px;
}

.logicBtn:hover{
    width: 172px;
    height: 40px;
    border: 2px solid #5029EE;
    color: white;
    background-color: #5029EE;
    border-radius: 16px;
    margin-right: 20px;
}

.logicBtn_2{
    width: 172px;
    height: 40px;
    border: 2px solid #5029EE;
    color: #5029EE;
    background-color: white;
    border-radius: 16px;
    margin-right: 20px;
}

.logicBtn_2:hover{
    width: 172px;
    height: 40px;
    border: 2px solid #5029EE;
    color: white;
    background-color: #5029EE;
    border-radius: 16px;
    margin-right: 20px;
}

.answ{
    background-color: #5029EE;
    width: 397px;
    height: 192px;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    min-width: 397px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-top: -25px;
}

.answ_2{
    background-color: #5029EE;
    width: 397px;
    height: 192px;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    min-width: 397px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-top: -25px;
    
}

.lanstwo{
    font-size: 14px;
    padding-top: 5%;
    padding-bottom: 5.4%;
    padding-left: 14px;
    padding-right: 14px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    border: 1px solid white;
    color: white;
}

.lansone{
    font-size: 14px;
    margin-left: -22px;
    padding-top: 10.4px;
    padding-bottom: 9px;
    padding-left: 25px;
    padding-right: 27px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    border-left: 1px solid white;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    color: white;
    margin-left: 1px;
}

.kmanstwo{
    font-size: 14px;
    padding-top: 5%;
    padding-bottom: 5.4%;
    padding-left: 13px;
    padding-right: 13px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    border: 1px solid white;
    color: white;
}

.grnlanstwo{
    font-size: 14px;
    padding-top: 5%;
    padding-bottom: 5.4%;
    padding-left: 30px;
    padding-right: 30px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    margin-left: -2px;
    border: 1px solid white;
    color: white;
}

.grnlansone{
    width: 85px;
    font-size: 14px;
    height: 40px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    border: 1px solid #5029EE;
    padding-left: 7px;
    color :white;
    background-color: #5029EE;
    border-left: 1px solid white;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding-left: 15px;
}

.kmansone{
    font-size: 14px;
    margin-left: -22px;
    padding-top: 11.6px;
    padding-bottom: 9.8px;
    padding-left: 25px;
    padding-right: 27px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    border-left: 1px solid white;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    color: white;
    margin-left: 1px;
}

.text1answ{
    color: white;
    margin-left: 62px;
}

.text2answ{
    color: white;
    margin-left: 19px;
}

.text3answ{
    color: white;
    margin-left: 52px;
}

.answers{
    padding-top: 5px;
}

.txt1_2{
    padding-top: -15px;
}

.text1_2{
    color: #5029EE;
    font-size: 14px;
    padding-left: 80px;
    padding-bottom: 30px;
    z-index: 1;
}

.text1_1_2{
    color: #5029EE;
    font-size: 14px;
    padding-left: 106px;
    padding-top: -30px;
    z-index: 2;
}

.text2_2{
    color: #5029EE;
    font-size: 14px;
    padding-left: 73px;
    padding-top: 20px;
}

.text3_2{
    color: #5029EE;
    font-size: 14px;
    padding-left: 78px;
    padding-top: 20px;
}

.l_2{
    font-size: 13.8px;
    padding-left: 14.2px;
    padding-top: 6.4%;
    padding-bottom: 5.4%;
    padding-right: 14.2px;
    background-color: #5029EE;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    color: white;
    
}

.km_2{
    font-size: 14px;
    padding-left: 33.4px;
    padding-top: 6%;
    padding-bottom: 5.4%;
    padding-right: 33.4px;
    background-color: #5029EE;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    color: white;
    
}

.grnl_2{
    font-size: 14px;
    padding-left: 24.8px;
    padding-top: 6%;
    padding-bottom: 5.4%;
    padding-right: 24.8px;
    background-color: #5029EE;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    color: white;
}

.text1answ_2{
    color: white;
    margin-left: 52px;
}